# not Zero-Installs:
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# dist, dependencies, binaries...
node_modules/
dist/
.next/
out/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local files
.DS_Store
.vercel

# temp files
lighthouse*.json
coverage/
analyze/